bigquery-magics==0.10.2
google-api-core==2.25.1
google-auth==2.38.0
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.35.1
google-cloud-bigquery-storage==2.32.0
google-cloud-core==2.4.3

ipykernel==6.17.1
ipython==7.34.0
jupyter==1.0.0
jupyterlab==4.4.1

numpy==2.0.2
pandas==2.2.2
pyarrow==18.1.0
requests==2.32.4
tqdm==4.67.1
scikit-learn==1.6.1
